.img-responsive {
  margin-bottom: 10px;
}

/*
body {
  line-height: 1.1428571429;
}

.col-md-4 {
  line-height: 1.42857143;
}*/

.col-md-2 {
  width:20%;
  /*padding-right:5px;
  padding-left:5px;*/
}

.col-md-4 + .col-md-2 {
  padding-right: 15px;
  padding-left: 15px;
}

div.col-md-12 {
  border: 0px;
}

.navbar-text {
  font-size: 4em;
  margin-left: 0px;
  /*font-size:2.4285714286em;*/
}
.panel-success {
  border-color: #3c763d;
}
.panel-success>.panel-heading {
  color:#fff;
  background-color:#3c763d;
  border-color: #3c763d;
}

.navbar-right {
  margin-right: 0px;
}

#time {
  /*font-size: 21.428571429em;*/
  font-size: 22em; /* This was 22 em, but changed to 23 to fill up a little space on bottom */
  font-weight: 900;
  line-height:1.5; /* Had to add a line height of 1.5 or 21 pixels and change the font-size back to 22em so that I could see if that would fix the clock problem at the masjid. It is really starting to bug me. */
}

small.text-muted {
  font-size: 0.5714285714em;
  font-weight: 100;
}
.panel-heading {
  font-size: 3.5714285714em;
  font-weight: 600;
}
.panel-body {
  font-size: 6em;
  font-weight: 900;
  /*font-size: 4.2857142857em;
  font-weight: 400;*/
}
.col-md-2>.panel>.panel-body{
  color: #ffff00;
  background-color: #000;
}

.well-lg {
  font-size: 8em;
  font-weight: bolder;
  line-height:1.35;
}
